@import './styles/base.css';
@import './styles/theme.css';
@import './styles/components/modal.css';
@import './styles/components/keyboard.css';
@import './styles/components/hangman.css';
@import './styles/components/game.css';
@import './styles/components/wordDisplay.css';

.app-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}

.game-menu .connection-status {
    max-width: 500px;
    margin: 15px auto;
  }
  
  @media (max-width: 768px) {
    .game-menu .connection-status {
      width: 90%;
    }
  }

@media (max-width: 768px) {
    .app-wrapper{
        padding: 0 5px;
    }
}
